@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', serif;
  color: #fff;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 380px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  color: #242424;
  border-bottom: 3px solid #352d2d;
  font-size: 20px;
  font-weight: 250;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 100%;
}
.current .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 1.7px;
}

.current .temp {
  color: #fff;
  font-size: 100px;
  font-weight: 850;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.celsius-convert {
  margin-right: 8px;
  cursor: pointer;
  font-size: 25px;
}
.slash {
  font-size: 25px;
}

.fahrenheit-convert {
  cursor: pointer;
  font-size: 25px;
}

.location .city {
  color: #fff;
  font-size: 50px;
  font-weight: 850;
  margin-bottom: 15px;
  text-shadow: 2px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 1.7px;
}

.float-container {
  padding: 5px;
  min-width: 460px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}
.float-child .hi-low {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  float: center;
  letter-spacing: 1.7px;
}

.float-child .date {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  float: center;
  margin-right: 20px;
  letter-spacing: 1.7px;
}

.Visibility, .Pressure,
.FeelsLike, .Humidity {
  color: #7f7f7f;
  letter-spacing: 1.7px;
}
.Visibility p, .Pressure p,
.FeelsLike p, .Humidity p {
  color: #fff;
}

.location {
  min-width: 360px;
}
